body {
  width: 100vw;
}

#app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-title {
    margin-bottom: 2em;
  }

  .clickable {
    cursor: pointer;
  }
  
  .link {
    color: #db2828;

    &:not(.static):hover {
      color: #000;
      text-decoration: underline;
    }
  }

  .btn-sized {
    padding: 10px 0;
  }

  .clearfix {
    clear: both;
  }

  .app-container {
    height: 100%;
    flex-grow: 1;
    position: relative;
  }
}
