.ui.form {
  .editor-inline-button {
    background: #fff !important;
  }
  
  .custom-editor-box-style .public-DraftEditor-content {
    min-height: 200px;
  }

  .field.error .custom-editor-style {
    border-color: #e0b4b4;
    background: #fff6f6;
  }

  .custom-editor-style select {
    font-family: Arial, Helvetica, sans-serif;
    border: 0 none;
    padding: 4px 20px 4px 10px;

    // Overriding semantic ui error style
    background: none transparent !important;
    -webkit-appearance: none !important;
    color: black !important;
  }
}